# Analiza danych w języku Python - ćwiczenia laboratoryjne 2024/2025

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika. Wyjątek stanowi ostatni z projektów, gdzie po konsultacji z prowadzącym zajęcia możliwa jest większa swoboda w doborze pakietów.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają na celu wyłapać podstawowe błędy. Przejście przez kod wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem). Rozmiar poziomy figur nie powinien przekraczać 20 cali.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (nazwa zespołu oraz imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

Nazwa zespołu:
Członkowie:

---

## Zestaw zadań 2: Zmiany GDP w okresie globalnego kryzysu finansowego 2008–2009 (Notatnik 1/3)

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Miejsce do importu pakietów wchodzących w skład standardowej biblioteki Pythona oraz ustawienie opcji wykorzystywanych pakietów

### Zadanie 1: Przygotowanie danych [10 pkt]

Pliki raw_data_1.csv, raw_data_2.csv i raw_data_3.xlsx zawierają dane pobrane ze stron:</br>
https://databank.worldbank.org/,</br>
https://unstats.un.org/UNSDWebsite/,</br>
https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups.

Zaimportuj zawarte w plikach dane do notatnika i utwórz na ich podstawie tablicę `recession_data_1` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>

    > Indeks: Country Code</br>
       
    > Kolumny: Country Name, Region Name, Income Group, 2006, 2007, 2008, 2009, 2010, 2011 (w tej kolejności, lata w nagłówkach jako zmienne typu str)</br>
    
- Wiersze powinny być indeksowane trzyliterowymi kodami krajów.
- Kolumna Income Group zawiera informację o stopniu zamożności państwa wg danych z 2008 roku.
- Kolumny 2006-2011 zawierają wartości wskaźnika GDP growth (annual %) dla poszczególnych lat.
- Zmień występujące w kolumnie Income Category kody (H, UM, LM, L) na pełne wyrażenia (High, Upper middle, Lower middle, Low).
- Tablica nie powinna zawierać wierszy, w których znajdują się wartości NaN (w dowolnej kolumnie) oraz wiersza dotyczącego Libii.

Zapisz tablicę do pliku recession_data_1.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 5 pierwszych i ostatnich wierszy, a zawarte w tablicy liczby (za wyjątkiem lat w nagłówkach kolumn) wyświetlały się z dokładnością do 2 miejsca po przecinku.

In [3]:
data_1 = pd.read_csv('raw_data_1.csv')
data_2 = pd.read_csv('raw_data_2.csv', sep=';').rename(columns={'Country or Area':'Country Name', 'ISO-alpha3 Code':'Country Code'})
data_3 = pd.read_excel('raw_data_3.xlsx', skiprows=11, header=None, sheet_name='Country Analytical History')
data_3.columns = ['Country Code', 'Country Name'] + [str(year) for year in range(1987, 2022)]
data = pd.merge(pd.merge(data_1, data_2, on='Country Code'), data_3, on='Country Code')
data.drop_duplicates(subset='Country Code', keep='first', inplace=True)
data.set_index('Country Code', inplace=True)
data.head()

,Series Name,Series Code,Country Name_x,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country Code,,,,,,,,,,,,,,,,,,,,,
AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Afghanistan,..,..,..,..,..,..,..,...,L,L,L,L,L,L,L,L,L,L
ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Albania,..,..,..,..,..,..,..,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
DZA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Algeria,..,-13.6054413245993,-19.6850418256388,34.3137287802883,5.83941300773414,6.20689821106382,-4.8049709432613,...,UM,UM,UM,UM,UM,UM,UM,LM,LM,LM
ASM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,American Samoa,..,..,..,..,..,..,..,...,UM,UM,UM,UM,UM,UM,UM,UM,UM,UM
AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Andorra,..,..,..,..,..,..,..,...,H,H,H,H,H,H,H,H,H,H

In [4]:
recession_data_1 = pd.DataFrame(index=data.index, columns=['Country Name', 'Region Name', 'Income Group', '2006', '2007', '2008', '2009', '2010', '2011'])

mappings = {
    'Income Group': data['2008'],
    'Country Name': data['Country Name'],
    'Region Name': data['Region Name']
}

for col, source in mappings.items():
    recession_data_1[col] = recession_data_1.index.map(source)

years = ['2006', '2007', '2008', '2009', '2010', '2011']
for year in years:
    recession_data_1[year] = recession_data_1.index.map(data[f'{year} [YR{year}]'])

recession_data_1 = (recession_data_1.replace('..', np.nan).dropna().query("`Country Name` != 'Libya'"))
recession_data_1[years] = recession_data_1[years].apply(pd.to_numeric)
recession_data_1['Income Group'] = recession_data_1['Income Group'].map({'L': 'Low', 'LM': 'Lower middle', 'UM': 'Upper middle', 'H': 'High'})

recession_data_1.head()

,Country Name,Region Name,Income Group,2006,2007,2008,2009,2010,2011
Country Code,,,,,,,,,
AFG,Afghanistan,Asia,Low,5.357403,13.826320,3.924984,21.390528,14.362441,0.426355
ALB,Albania,Europe,Lower middle,5.902659,5.983260,7.500041,3.354289,3.706938,2.545406
DZA,Algeria,Africa,Upper middle,1.700000,3.400000,2.400000,1.600000,3.600000,2.900000
ASM,American Samoa,Oceania,Upper middle,-4.098361,1.851852,-2.657343,-4.166667,0.299850,0.000000
AND,Andorra,Europe,High,4.808689,1.553188,-5.559186,-5.302847,-1.974958,-0.008070

In [5]:
recession_data_1.to_pickle("recession_data_1.pkl")

In [6]:
### Komórka testowa
# Test 1 Kształt tablicy
assert recession_data_1.shape == (198, 9)
# Test 2 Kolumny
assert len(set(list(recession_data_1.columns)) & set(['Country Name', 'Region Name', 'Income Group', '2006', '2007', '2008', '2009', '2010', '2011'])) == 9
# Test 3 Indeks
assert (recession_data_1.index.name == 'Country Code') == True
assert recession_data_1.index.values.min() == 'ABW'
assert recession_data_1.index.values.max() == 'ZWE'
assert np.all(recession_data_1.index.values != 'LBY') == True
# Test 4 Zawartość kolumn tekstowych
assert np.all([set(recession_data_1["Region Name"].unique()) == set(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas'])])
assert np.all([recession_data_1["Region Name"].value_counts().values == [50, 49, 43, 40, 16]])
assert np.all([set(recession_data_1["Income Group"].unique()) == set(['Low', 'Lower middle', 'Upper middle', 'High'])])
assert np.all([recession_data_1["Income Group"].value_counts().values == [60, 53, 44, 41]])
# Test 5 Zawartość kolumn liczbowych
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].min().values, np.array([ -6.87146322, -6.68402778, -17.66894633,
                                                                                                                    -17.57322176, -8.92417589, -12.7148969 ]))) == True
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].max().values, np.array([34.5 , 24.99999985, 17.79910913, 21.39052839,
                                                                                                                    25.12275964, 21.61652888]))) == True